<div class="card">
  <div class="card">
    <div class="card-header">
      {{ plan?.name }}
    </div>
    <div class="card-body">
      <h5 class="card-title">Why to choose</h5>
      <ul *ngFor="let description of plan?.description">
        <li class="card-text">{{ description }}</li>
      </ul>
      <p>${{ plan?.price }} {{ plan?.currency }}
        <span *ngIf='plan?.bestPrice' class="best-price">(best price)</span>
      </p>
      <a (click)="onSelected()" class="btn btn-primary">Select</a>
    </div>
  </div>
</div>

