<div class="container" >
  <ul ngbNav #nav="ngbNav" class="row nav-tabs">
    <li ngbNavItem="Personal">
      <a ngbNavLink>Personal</a>
      <ng-template ngbNavContent>
        <div class="row row-cols-3 items-list">
          <app-item-card *ngFor="let plan of personalPlans$ | async" [plan]="plan" class="col"></app-item-card>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="Enterprise">
      <a ngbNavLink>Enterprise</a>
      <ng-template ngbNavContent>
        <div class="row row-cols-3">
          <app-item-card *ngFor="let plan of enterprisePlans$ | async" [plan]="plan" class="col"></app-item-card>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>







